absl-py==0.9.0
astunparse==1.6.3
attrs==19.3.0
beautifulsoup4==4.9.3
blis==0.4.1
boto3==1.12.36
botocore==1.15.36
Bottleneck==1.3.2
cachetools==4.0.0
catalogue==0.0.8
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
cycler==0.10.0
cymem==2.0.3
Cython==0.29.21
dataclasses==0.6
decorator==4.4.2
dill==0.3.3
docutils==0.15.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
fastai==1.0.61
fastcore==1.3.10
fastprogress==1.0.0
filelock==3.0.12
funcy==1.14
future==0.18.2
gast==0.3.3
gensim==3.8.3
google-api-core==1.16.0
google-auth==1.13.1
google-auth-oauthlib==0.4.1
google-cloud-core==1.3.0
google-cloud-storage==1.27.0
google-pasta==0.2.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
grpcio==1.29.0
h5py==2.10.0
idna==2.8
imageio==2.9.0
Jinja2==2.11.1
jmespath==0.9.5
joblib==0.14.1
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
longformer @ git+https://github.com/allenai/longformer.git@eca11c7f12b9ecf726bf161ad1bea4e52e05ba41
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mlxtend==0.17.2
more-itertools==8.2.0
murmurhash==1.0.2
networkx==2.4
nlp==0.4.0
nltk==3.5
numexpr==2.7.1
numpy==1.17.4
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opt-einsum==3.2.1
orderedset==2.0.3
packaging==20.3
pandas==1.0.3
pdfminer==20191125
pdfminer.six==20200517
Pillow==7.1.1
plac==1.1.3
pluggy==0.13.1
preshed==3.0.2
protobuf==3.11.3
py==1.8.1
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.9.8
pyLDAvis==2.1.2
pynvx==1.0.0
pyparsing==2.4.7
PyPDF2==1.26.0
pytest==5.4.1
python-dateutil==2.8.1
pytorch-lightning @ git+http://github.com/ibeltagy/pytorch-lightning.git@7ed5d849a0c76fa2199162f0283507e36601ded6
pytorch-transformers==1.2.0
pytz==2019.3
PyYAML==5.3.1
regex==2020.6.8
requests==2.22.0
requests-oauthlib==1.3.0
rouge-score==0.0.4
rsa==4.0
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.22.2.post1
scipy==1.4.1
sentencepiece==0.1.91
six==1.14.0
smart-open==1.10.0
sortedcontainers==2.2.2
soupsieve==2.0.1
spacy==2.3.2
srsly==1.0.4
tensorboard==2.4.0
tensorboard-plugin-wit==1.6.0.post3
tensorboardX==2.1
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
test-tube==0.7.5
thinc==7.4.1
tokenizers==0.9.2
torch==1.7.0
torchvision==0.8.1
tqdm==4.54.1
typing-extensions==3.7.4.3
urllib3==1.25.10
wasabi==0.4.2
wcwidth==0.1.9
Werkzeug==1.0.1
wrapt==1.12.1
xxhash==2.0.0
transformers==3.4.0
pytorch-transformers
tensorflow==2.3.0
urllib3==1.25.10
fastai==1.0.61
numpy
scipy
pandas